.terraform/
*.tfstate
*.tfstate.backup
#*.tfvars
.terraform.lock.hcl

# Keep environment tfvars (IMPORTANT)
!dev.tfvars
!staging.tfvars
!prod.tfvars

# Ignore private key files
*.pem
*.key
terra-automate-key
